body{
    background: rgb(116, 57, 101) url('imagens/fundo.png');
    font: 16px Arial, Helvetica, Sans-serif;

}

#principal{
    width: 900px;
    
}
#menu{

    background: rgb(206, 194, 201);
    padding: 18px;
}

#conteudo{
    background:#fff ;
    padding: 10px;

}

#rodape{
    text-align: center;
}

a {
    color:rgb(151, 12, 194) ;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}
.centralizar{
    text-align: center;
}

.img-campanhas{
    border: 10px solid rgb(143, 59, 173) ;
}

h1{

    color:rgb(230, 14, 238) ;
    font-size:1.2em ;
}